@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    string temp = User.Identity.Name.Split("@")[0];
    string userName = !string.IsNullOrEmpty(temp) ? temp : User.Identity.Name;
    <li><a asp-area="Identity" asp-page="/Account/Manage/ShoppingHistory" title="Manage"><i class="fas fa-user"></i> Hello @userName </a></li>
    <li style="margin-top:11px">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="drop-down">
        <a>Sign in/Register</a>
        <ul>
            <li><a class='item-selected' asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            <li><a class='item-selected' asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        </ul>
    </li>

}


