@model IEnumerable<Category>
<nav class="nav-menu d-none d-lg-block">
    <ul>
        <li><a asp-action="Index" asp-controller="Home" asp-area="Customer">Home</a></li>
        <li class="drop-down">
            <a>Products</a>
            <ul>
                @foreach (var item in Model)
                {
                    <li class="drop-down">
                        <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-catId="@item.Id">@item.Title</a>
                        <ul>
                            @foreach (var sub in item.SubCategories)
                            {
                                <li><a class='item-selected' asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-subCatid="@sub.Id">@sub.Title</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
        @if (User.IsInRole(U.ManagerUser))
        {
            <li><a asp-action="Index" asp-controller="Home" asp-area="Admin">Admin Home</a></li>
        }
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li>
            <partial name="_LoginPartial" />
        </li>

    </ul>
</nav>